.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

html[data-theme="dark"] .featureSvg {
  height: 130px;
  width: 130px;
  fill: azure;
}

html[data-theme="light"] .featureSvg {
  height: 130px;
  width: 130px;
  color: black;
}
